.contact-me {
  background-color: #191C19;
}
.contact-me__title {
  margin-bottom: 60px;
}
@media (max-width: 1199px) {
  .contact-me__title {
    margin-bottom: 40px;
  }
}
.contact-me__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 30px;
}
@media (max-width: 1199px) {
  .contact-me__wrapper {
    gap: 0 122px;
  }
}
@media (max-width: 767px) {
  .contact-me__wrapper {
    gap: 0;
  }
}
.contact-me__content {
  margin-left: 32px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
@media (max-width: 1199px) {
  .contact-me__content {
    padding: 50px 0;
  }
}
@media (max-width: 767px) {
  .contact-me__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin: 0;
  }
}
.contact-me__form {
  margin-bottom: 60px;
}
@media (max-width: 1199px) {
  .contact-me__form {
    margin-bottom: 40px;
  }
}
.contact-me__input {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  padding: 15px 40px;
  width: 100%;
  min-height: 60px;
  border-radius: 50px;
  background-color: #363636;
  font-family: "IBM Plex Mono";
  font-size: 22px;
  line-height: 29px;
  color: #FFFFFF;
  margin-bottom: 26px;
}
@media (max-width: 1199px) {
  .contact-me__input {
    padding: 10px 24px;
    min-height: 41px;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 17px;
  }
}
@media (max-width: 767px) {
  .contact-me__input {
    padding: 9px 21px;
    min-height: 38px;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 15px;
  }
}
.contact-me__input:last-child {
  margin-bottom: 0;
}
.contact-me__input::-webkit-input-placeholder {
  color: #FFFFFF;
}
.contact-me__input::-moz-placeholder {
  color: #FFFFFF;
}
.contact-me__input:-ms-input-placeholder {
  color: #FFFFFF;
}
.contact-me__input::-ms-input-placeholder {
  color: #FFFFFF;
}
.contact-me__input::placeholder {
  color: #FFFFFF;
}
.contact-me__input:focus {
  outline: none;
}
.contact-me__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
@media (max-width: 1199px) {
  .contact-me__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
@media (max-width: 767px) {
  .contact-me__image {
    display: none;
  }
}
.contact-me__img {
  -webkit-transform: translateX(125px);
          transform: translateX(125px);
  border-radius: 0 0 50px 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1400px) {
  .contact-me__img {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}