.contacts {
  padding: 320px 0 89px 0;
  background-color: #191C19;
  background-image: url(../images/background-developer.png);
  background-repeat: no-repeat;
  background-position: right;
  border-radius: 30px;
}
.contacts__container > *:not(:last-child) {
  margin-bottom: 28px;
}
.contacts__title {
  line-height: 60px;
}
.contacts__list > *:not(:last-child) {
  margin-bottom: 20px;
}
.contacts__link {
  font-size: 60px;
  line-height: 60px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.contacts__link:hover {
  color: #127DFF;
}