.main-title {
  font-size: 58px;
  line-height: 60px;
  color: #FFFFFF;
}
@media (max-width: 1199px) {
  .main-title {
    font-size: 36px;
    line-height: 46px;
  }
}
@media (max-width: 767px) {
  .main-title {
    font-size: 28px;
    line-height: 36px;
  }
}

.title {
  font-size: 55px;
  line-height: 72px;
  color: #FFFFFF;
}
@media (max-width: 1199px) {
  .title {
    font-size: 45px;
    line-height: 58px;
  }
}
@media (max-width: 767px) {
  .title {
    max-width: 268px;
    font-size: 30px;
    line-height: 39px;
  }
}
.title_size-big {
  font-size: 60px;
  line-height: 60px;
}
@media (max-width: 1199px) {
  .title_size-big {
    font-size: 40px;
    line-height: 40px;
  }
}
@media (max-width: 767px) {
  .title_size-big {
    font-size: 35px;
    line-height: 37px;
  }
}
.title_size-small {
  font-size: 35px;
  line-height: 46px;
}
@media (max-width: 1199px) {
  .title_size-small {
    font-size: 28px;
    line-height: 37px;
  }
}

.subtitle {
  font-size: 34px;
  line-height: 45px;
  color: #127DFF;
}
@media (max-width: 1199px) {
  .subtitle {
    font-size: 28px;
    line-height: 36px;
  }
}
.subtitle_size-big {
  font-size: 55px;
  line-height: 110%;
}
@media (max-width: 1199px) {
  .subtitle_size-big {
    font-size: 45px;
  }
}
@media (max-width: 767px) {
  .subtitle_size-big {
    font-size: 35px;
  }
}

.description {
  font-size: 22px;
  line-height: 29px;
  color: #191C19;
}
@media (max-width: 1199px) {
  .description {
    font-size: 18px;
    line-height: 23px;
  }
}