.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (max-width: 1199px) {
  .nav {
    display: none;
  }
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav__item {
  margin-left: 50px;
}
.nav__item:first-child {
  margin-bottom: 0;
}
.nav__link {
  position: relative;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
  padding: 10px 0;
}
.nav__link:hover::after {
  width: 100%;
}
.nav__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
  height: 1.5px;
  background-color: #FFFFFF;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}