.projects {
  padding: 150px 0 75px 0;
}
@media (max-width: 767px) {
  .projects {
    padding: 100px 0 50px 0;
  }
}
.projects__title {
  margin-bottom: 40px;
}
@media (max-width: 1199px) {
  .projects__title {
    margin-bottom: 53px;
  }
}
@media (max-width: 767px) {
  .projects__title {
    margin-bottom: 34px;
  }
}
.projects__items {
  margin-bottom: 80px;
}
@media (max-width: 1199px) {
  .projects__items {
    margin-bottom: 64px;
  }
}
@media (max-width: 767px) {
  .projects__items {
    margin-bottom: 60px;
  }
}

.project {
  position: relative;
  height: 550px;
}
@media (max-width: 1199px) {
  .project {
    height: 445px;
  }
}
.project__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  border-radius: 30px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 1199px) {
  .project__link {
    height: 24px;
  }
}
.project__link:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.project__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
  border-radius: 30px;
}
.project__content {
  position: absolute;
  bottom: 50px;
  left: 50px;
}
@media (max-width: 1199px) {
  .project__content {
    bottom: 40px;
    left: 40px;
  }
}
@media (max-width: 767px) {
  .project__content {
    bottom: 50px;
    left: 35px;
  }
}
.project__subtitle {
  color: #FFFFFF;
  margin-bottom: 5px;
}
.project__description {
  font-size: 30px;
  line-height: 39px;
}
@media (max-width: 1199px) {
  .project__description {
    font-size: 24px;
    line-height: 31px;
  }
}
@media (max-width: 767px) {
  .project__description {
    font-size: 16px;
    line-height: 21px;
  }
}
.project__label {
  position: absolute;
  top: 50px;
  left: 50px;
  max-height: 47px;
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  line-height: 27px;
  color: #FFFFFF;
  background-color: #127DFF;
  border-radius: 100px;
}
@media (max-width: 1199px) {
  .project__label {
    top: 40px;
    left: 40px;
    font-size: 16px;
    line-height: 22px;
    padding: 8px 18.5px;
    max-height: 38px;
  }
}
@media (max-width: 767px) {
  .project__label {
    top: 30px;
    left: 30px;
    font-size: 13px;
    line-height: 18px;
    padding: 6px 12px;
    max-height: 30px;
  }
}