.services {
  padding: 75px 0 150px 0;
}
@media (max-width: 1199px) {
  .services {
    padding: 75px 0 110px 0;
  }
}
@media (max-width: 767px) {
  .services {
    padding: 50px 0 50px 0;
  }
}
.services__title {
  max-width: 403px;
  margin-bottom: 80px;
  color: #FFFFFF;
}
.service {
  margin-bottom: 40px;
}
@media (max-width: 1199px) {
  .service {
    margin-bottom: 32px;
  }
}
@media (max-width: 767px) {
  .service {
    margin-bottom: 60px;
  }
}
.service__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 30px;
}
.service__content {
  padding: 40px;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0 70px;
  background-color: #363636;
  min-height: 283px;
}
@media (max-width: 1199px) {
  .service__content {
    min-height: 229px;
  }
}
@media (max-width: 767px) {
  .service__content {
    gap: 15px 0;
  }
}
.service__subtitle {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(50% - 35px);
          flex: 0 1 calc(50% - 35px);
}
@media (max-width: 767px) {
  .service__subtitle {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.service__description {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(50% - 35px);
          flex: 0 1 calc(50% - 35px);
  color: #FFFFFF;
}
@media (max-width: 767px) {
  .service__description {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}