@import "colors_variables";

button {
	font-family: "IBM Plex Mono";
	font-size: 18px;
	font-weight: 400;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 153px;
    padding: 0 119px;
	border: 1px solid $colorBlue;
    border-radius: 10px;
	background-color: $colorBlue;
	font-size: 30px;
	line-height: 39px;
	color: $colorWhite;
	cursor: pointer;
	transition: background 0.3s ease-in-out,
				color 0.3s ease-in-out;

	&:hover {
		background: none;
		color: $colorBlue;
	}

	@media (max-width: 1199px) {
		min-height: 124px;
		padding: 0 91px;
		font-size: 24.2609px;
		line-height: 32px;
	}
	
	@media (max-width: 767px) {
		width: 100%;
		min-height: 80px;
		padding: 0 50px;
		font-size: 18px;
		line-height: 23px;
	}

	&_form {
		min-height: 70px;
		font-size: 22px;
		line-height: 29px;
		padding: 19px 169px;
	
		@media (max-width: 1199px) {
			min-height: 47px;
			font-size: 16px;
			line-height: 21px;
			padding: 12px 111px;
		}
	
		@media (max-width: 767px) {
			width: 100%;
		}
	}
}

.button-menu {
	position: relative;
	z-index: 1;
	width: 63px;
	height: 63px;
	cursor: pointer;
	
	&__icon {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 50%;
		transform: translateX(-50%);
		width: 40px;
		height: 3px;
		background-color: $colorWhite;
		border-radius: 50px;
		transition: width 0.3s ease-in-out;
		
		&::before {
			content: "";
			position: absolute;
			top: -12px;
			left: 50%;
			transform: translateX(-50%);
			width: 40px;
			height: 3px;
			background-color: $colorWhite;
			border-radius: 50px;
			transition: width 0.3s ease-in-out,
						top 0.3s ease-in-out,
						transform 0.3s ease-in-out;
		}
		
		&::after {
			content: "";
			position: absolute;
			bottom: -12px;
			left: 50%;
			transform: translateX(-50%);
			width: 40px;
			height: 3px;
			background-color: $colorWhite;
			border-radius: 50px;
			transition: width 0.3s ease-in-out,
						bottom 0.3s ease-in-out,
						transform 0.3s ease-in-out;
		}
		
		&_open {
			width: 0;
			
			&::before {
				width: 35px;
				top: 0;
				transform: translateX(-50%) translateY(-50%) rotate(-45deg);
			}
			
			&::after {
				width: 35px;
				bottom: 0;
				transform: translateX(-50%) translateY(-50%) rotate(45deg);
			}
		}
	}
}