// Colors
$colorBlue: #127DFF;
$colorBlueLight: #5ca5ff;
$colorWhite: #FFFFFF;
$colorBlack: #000000;
$colorGreyDark: #363636;
$colorDark: #191C19;
$colorGreyLight: #EBEBEB;
$colorBlackTransparent: rgba(0, 0, 0, 0.75);
