.contacts {
	padding: 320px 0 89px 0;
	background-color: #191C19;
	background-image: url(../images/background-developer.png);
	background-repeat: no-repeat;
	background-position: right;
	border-radius: 30px;

	&__container {

		& > *:not(:last-child) {
			margin-bottom: 28px;
		}
	}
	
	&__title {
		line-height: 60px;
	}

	&__list {

		& > *:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	&__item {
	}

	&__link {
		font-size: 60px;
		line-height: 60px;
		transition: all 0.3s;

		&:hover {
			color: #127DFF;
		}
	}
}