@import "colors_variables";

.header {
	position: absolute;
	z-index: 1;
	width: 100%;

	&__inner {
		position: relative;
		display: flex;
		align-items: center;
		min-height: 111px;

		@media (max-width: 1199px) {
			min-height: 101px;
		}
	}

	&__logo {
		flex: 1 1 auto;
	}
	
	&__logo-link {

	}

	&__logo-img {

		@media (max-width: 767px) {
			height: 55px;
		}
	}
	
	&__nav {
		flex: 0 1 auto;
	}

	&__button {
		display: none;

		@media (max-width: 1199px) {
			display: block;
			flex: 0 1 auto;
		}
	}
}