@import "colors_variables";

.projects {
	padding: 150px 0 75px 0;

	@media (max-width: 767px) {
		padding: 100px 0 50px 0;
	}

	&__container {

	}

	&__title {
		margin-bottom: 40px;

		@media (max-width: 1199px) {
			margin-bottom: 53px;
		}

		@media (max-width: 767px) {
			margin-bottom: 34px;
		}
	}

	&__items {
		margin-bottom: 80px;
		
		@media (max-width: 1199px) {
			margin-bottom: 64px;
		}

		@media (max-width: 767px) {
			margin-bottom: 60px;
		}
	}

	&__button {
	}
}

.project {
	position: relative;
	height: 550px;
	
	@media (max-width: 1199px) {
		height: 445px;
	}

	&__link {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 5;
		border-radius: 30px;
		transition: all 0.3s;

		&:hover {
			background-color: rgba(0, 0, 0, 0.3);
		}
	}

	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: left;
		border-radius: 30px;
	}

	&__content {
		position: absolute;
		bottom: 50px;
		left: 50px;

		@media (max-width: 1199px) {
			bottom: 40px;
			left: 40px;
		}

		@media (max-width: 767px) {
			bottom: 50px;
			left: 35px;
		}
	}

	&__subtitle {
		color: $colorWhite;
		margin-bottom: 5px;
	}

	&__description {
		font-size: 30px;
		line-height: 39px;

		@media (max-width: 1199px) {
			font-size: 24px;
			line-height: 31px;
		}

		@media (max-width: 767px) {
			font-size: 16px;
			line-height: 21px;
		}
	}

	&__label {
		position: absolute;
		top: 50px;
		left: 50px;
		max-height: 47px;
		padding: 10px 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 20px;
		line-height: 27px;
		color: $colorWhite;
		background-color: $colorBlue;
		border-radius: 100px;
		
		@media (max-width: 1199px) {
			top: 40px;
			left: 40px;
			font-size: 16px;
			line-height: 22px;
			padding: 8px 18.5px;
			max-height: 38px;
		}

		@media (max-width: 767px) {
			top: 30px;
			left: 30px;
			font-size: 13px;
			line-height: 18px;
			padding: 6px 12px;
			max-height: 30px;
		}
	}
}