@import "colors_variables";

.services {
	background-color: $colorDark;
	padding: 75px 0 150px 0;
	
	@media (max-width: 1199px) {
		padding: 75px 0 110px 0;
	}

	@media (max-width: 767px) {
		padding: 50px 0 50px 0;
	}

	&__title {
		max-width: 403px;
		margin-bottom: 80px;
		color: $colorWhite;
	}

	&__items {
	}
}

.service {
	margin-bottom: 40px;

	@media (max-width: 1199px) {
		margin-bottom: 32px;
	}

	@media (max-width: 767px) {
		margin-bottom: 60px;
	}
	
	&__image {

	}
	
	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		border-radius: 30px;
	}
	
	&__content {
		padding: 40px;
		border-radius: 30px;
		display: flex;
		flex-wrap: wrap;
		gap: 0 70px;
		background-color: $colorGreyDark;
		min-height: 283px;
		
		@media (max-width: 1199px) {
			min-height: 229px;
		}

		@media (max-width: 767px) {
			gap: 15px 0;
		}
	}
	
	&__subtitle {
		flex: 0 1 calc(50% - 35px);

		@media (max-width: 767px) {
			flex: 1 1 100%;
		}
	}

	&__description {
		flex: 0 1 calc(50% - 35px);

		@media (max-width: 767px) {
			flex: 1 1 100%;
		}
	}
}