@import "colors_variables";

.skills {
	padding: 75px 0 75px 0;
	
	@media (max-width: 767px) {
		padding: 50px 0 50px 0;
	}

	&__title {
		margin-bottom: 80px;
		
		@media (max-width: 1199px) {
			margin-bottom: 60px;
		}
	}

	&__items {
		display: flex;
		flex-wrap: wrap;
		gap: 40px 47px;
		
		& :nth-child(1) ::before {
			background-image: url(../icons/icon-html_desktop.svg);

			@media (max-width: 1199px) {
				background-image: url(../icons/icon-html_tablet.svg);
			}
		}
		
		& :nth-child(2) ::before {
			background-image: url(../icons/icon-js_desktop.svg);

			@media (max-width: 1199px) {
				background-image: url(../icons/icon-js_tablet.svg);
			}
		}
		
		& :nth-child(3) ::before {
			background-image: url(../icons/icon-device_desktop.svg);

			@media (max-width: 1199px) {
				background-image: url(../icons/icon-device_tablet.svg);
			}
		}
		
		& :nth-child(4) ::before {
			background-image: url(../icons/icon-react_desktop.svg);

			@media (max-width: 1199px) {
				background-image: url(../icons/icon-react_tablet.svg);
			}
		}
		
		@media (max-width: 1199px) {
			gap: 41px 37px;
		}
		
		@media (max-width: 767px) {
			gap: 60px 0;
		}
	}
}

.skill {
	flex: 0 1 calc(50% - 23.5px);
	
	@media (max-width: 1199px) {
		flex: 0 1 calc(50% - 18.5px);
	}
	
	@media (max-width: 767px) {
		flex: 1 1 100%;
	}

	&__subtitle {
		margin-bottom: 15px;

		@media (max-width: 1199px) {
			margin-bottom: 13px;
		}
		
		@media (max-width: 767px) {
			margin-bottom: 15px;
		}

		&::before {
			display: block;
			content: "";
			width: 45px;
			height: 44px;
			border-radius: 10px;
			background-color: $colorBlue;
			background-repeat: no-repeat;
			background-position: center;
			color: $colorWhite;
			margin-bottom: 15px;
			
			@media (max-width: 1199px) {
				width: 36px;
				height: 36px;
				margin-bottom: 10px;
			}
		}
	}
}