.skills {
	padding: 75px 0 75px 0;

	&__container {

		& > *:not(:last-child) {
			margin-bottom: 48px;
		}
	}

	&__title {
	}

	&__items {

		& :nth-child(1) ::before {
			background-image: url(../icons/icon-html.svg);
			margin-bottom: 12px;
		}

		& :nth-child(2) ::before {
			background-image: url(../icons/icon-js.svg);
		}

		& :nth-child(3) ::before {
			background-image: url(../icons/icon-device.svg);
		}

		& :nth-child(4) ::before {
			background-image: url(../icons/icon-react.svg);
		}

		& > *:not(:last-child) {
			margin-bottom: 60px;
		}
	}
}

.item-skill {

	& > *:not(:last-child) {
		margin-bottom: 15px;
	}

	&__subtitle {

		&::before {
			display: block;
			content: "";
			width: 45px;
			height: 44px;
			border-radius: 10px;
			background-color: #127DFF;
			background-repeat: no-repeat;
			background-position: center;
			color: #FFFFFF;
			margin-bottom: 16px;
		}
	}

	&__description {
		max-width: 778px;
	}
}