@import "fonts";
@import "colors_variables";

@import "headings.css";
@import "buttons.css";
@import "nav.css";
@import "menu-burger.css";

@import "header.css";
@import "about-me.css";
@import "projects.css";

// Common styles
body {
	//background-color: #191C19;
	font-family: "IBM Plex Mono";
	font-size: 18px;
	font-weight: 400;
}

.body_fixed {
	overflow: hidden;
}

h1, h2, h3, p, a, span, button {
	letter-spacing: -0.03em;
	color: $colorWhite;
}

.wrapper {
	position: relative;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.main {
	flex: 1 1 auto;
}

.container {
	max-width: 1150px;
	margin: 0 auto;

	@media (max-width: 1199px) {
		width: 100%;
		padding: 0 15px;
	}

	@media (max-width: 767px) {
		padding: 0 12.5px;
	}
}