// Link fonts
@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Mono:regular,700);
@import url(https://fonts.googleapis.com/css?family=Manrope:regular);

// Common styles
body {
	background-color: #191C19;
	font-family: "IBM Plex Mono";
	font-size: 18px;
	font-weight: 400;
	
	&.scroll-lock {
		overflow: hidden;
	}
}

h1, h2, h3, p, a {
	letter-spacing: -0.03em;
	color: #FFFFFF;
}

.wrapper {
	position: relative;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.main {
	flex: 1 1 auto;

	& > *:last-child {
		margin-bottom: 150px;
	}
}

.container {
	max-width: 1150px;
	padding: 0 15px;
	margin: 0 auto;
	box-sizing: content-box;
}

.title {
	font-size: 55px;
	line-height: 72px;
	color: #FFFFFF;
}

.title--size-small {
	font-size: 35px;
	line-height: 46px;
}

.subtitle {
	font-size: 35px;
	line-height: 46px;
	color: #127DFF;
}

.description {
	font-size: 22px;
	line-height: 29px;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 151px;
    padding: 0 119px;
	border: 1px solid #127DFF;
    border-radius: 10px;
	background-color: #127DFF;
	font-size: 30px;
	line-height: 39px;
	color: #000000;
	transition: all 0.3s;

	&:hover {
		background: none;
		color: #127DFF;
	}
}

.nav {
	display: flex;
	justify-content: flex-end;
	
	&__list {
		display: flex;

		& > *:not(:last-child) {
			margin-right: 50px;
		}
	}

	&__item {
	}

	&__link {
		font-size: 18px;
		line-height: 23px;
		transition: all 0.3s;

		&:hover {
			color: #363636;
		}
	}
}

.item-project {
	position: relative;
	max-height: 550px;

	&__link {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 5;
		transition: all 0.3s;

		&:hover {
			background-color: rgba(0, 0, 0, 0.3);
		}
	}

	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		border-radius: 30px;
	}

	&__content {
		position: absolute;
		bottom: 50px;
		left: 50px;

		& > *:not(:last-child) {
			margin-bottom: 5px;
		}
	}

	&__subtitle {
		color: #FFFFFF;
	}

	&__description {
		font-size: 30px;
		line-height: 39px;
	}
}

.item-skill {

	& > *:not(:last-child) {
		margin-bottom: 15px;
	}

	&__subtitle {

		&::before {
			display: block;
			content: "";
			width: 45px;
			height: 44px;
			border-radius: 10px;
			background-color: #127DFF;
			background-repeat: no-repeat;
			background-position: center;
			color: #FFFFFF;
			margin-bottom: 16px;
		}
	}

	&__description {
		max-width: 778px;
	}
}

.item-service {
	
	&__image {
		max-height: 200px;
	}
	
	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		border-radius: 30px;
	}
	
	&__content {
		height: 203px;
		padding: 40px;
		background-color: #363636;
		border-radius: 30px;

		& > *:not(:last-child) {
			margin-bottom: 15px;
		}
	}
	
	&__subtitle {
		font-size: 55px;
		line-height: 72px;
	}

	&__description {
		max-width: 749px;
	}
}

// Header styles
.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;

	&__container {
		display: flex;
		align-items: center;
		min-height: 111px;
	}

	&__logo {
	}
	
	&__logo-link {
		height: 39px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 42.4138px;
		font-weight: 700;
		letter-spacing: -0.11em;
		color: #363636;	
		text-transform: uppercase;
		background-color: #FFFFFF;
		border-radius: 100px;
		padding: 0 17px 0 9px;
	}
	
	&__nav {
		flex: 1 1 auto;
		margin-bottom: 22px;
	}
}

// About-me styles
.about-me {
	position: relative;
	padding: 109px 0 94px 0;
	
	&__container {
		padding: 226px 0 0 0;
		position: relative;
		display: flex;
		flex-direction: column;
		max-height: 337px;

		& > *:not(:first-child) {
			margin-bottom: 29px;
		}
	}

	&__img-photo {
		position: absolute;
		top: 0;
		right: 0;
		width: 400px;
		height: 400px;
		border-radius: 50%;
	}
	
	&__title {
		font-size: 80px;
		line-height: 70px;
		color: #FFFFFF;
		order: 1;
		max-width: 1000px;
		margin-left: -5px;
	}
	
	&__description {
		max-width: 430px;
		font-size: 20px;
		line-height: 26px;
		color: #EBEBEB;
	}
	
	&__img {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
}

.projects {
	padding: 150px 0 75px 0;

	&__container {

		& > *:not(:last-child) {
			margin-bottom: 80px;
		}

		& > *:first-child {
			margin-bottom: 40px;
		}
	}

	&__title {
	}

	&__items {
	}

	&__btn {
		color: #FFFFFF;
	}
}

.skills {
	padding: 75px 0 75px 0;

	&__container {

		& > *:not(:last-child) {
			margin-bottom: 48px;
		}
	}

	&__title {
	}

	&__items {

		& :nth-child(1) ::before {
			background-image: url(../icons/icon-html.svg);
			margin-bottom: 12px;
		}

		& :nth-child(2) ::before {
			background-image: url(../icons/icon-js.svg);
		}

		& :nth-child(3) ::before {
			background-image: url(../icons/icon-device.svg);
		}

		& :nth-child(4) ::before {
			background-image: url(../icons/icon-react.svg);
		}

		& > *:not(:last-child) {
			margin-bottom: 60px;
		}
	}
}

.services {
	padding: 75px 0 150px 0;

	&__container {

		& > *:not(:last-child) {
			margin-bottom: 74px;
		}
	}

	&__title {
		max-width: 403px;
	}

	&__items {

		& > *:not(:last-child) {
			margin-bottom: 74px;
		}

		& > :last-child .description {
			max-width: 724px;
		}

		& > *:nth-child(2) {
			margin-bottom: 137px;
		}
	}
}

.contacts {
	padding: 320px 0 89px 0;
	background-color: #191C19;
	background-image: url(../images/background-developer.png);
	background-repeat: no-repeat;
	background-position: right;
	border-radius: 30px;

	&__container {

		& > *:not(:last-child) {
			margin-bottom: 28px;
		}
	}
	
	&__title {
		line-height: 60px;
	}

	&__list {

		& > *:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	&__item {
	}

	&__link {
		font-size: 60px;
		line-height: 60px;
		transition: all 0.3s;

		&:hover {
			color: #127DFF;
		}
	}
}

// Footer styles
.footer {
	padding: 76px 0 24px 0;
	background-color: #FFFFFF;
	border-radius: 30px 30px 0 0;
	font-family: "Manrope";
	
	&__container {

		& > *:not(:last-child) {
			margin-bottom: 66px;
		}
	}

	&__description {
		font-size: 22px;
		line-height: 30px;
		color: #000000;
	}
	
	&__copyright {
		font-size: 20px;
		line-height: 27px;
		color: #000000;
		opacity: 0.5;
	}
}